{%extends 'base.html'%}

{%block content%}

<style type="text/css">
	.form-pass-change{
		width: 100%;
		max-width: 330px;
		padding: 15px;
		margin: auto;
	}

	.form-pass-change .checkbox{
		font-weight: 400;
	}

	.form-pass-change .form-control{
		position: relative;
		box-sizing: border-box;
		height: auto;
		padding: 10px;
		font-size: 16px;
	}

	.form-pass-change .form-control:focus .form-floating:focus-within{
		z-index: 2;
	}

	.form-pass-change input[type="password"]{
		margin-bottom: 10px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}


</style>




<main class="form-pass-change">
  <form method="POST">
    {%csrf_token%}

    <h1 class="h3 mb-3 fw-normal">Change Your Password</h1>

    <div class="form-floating">
      <input type="password" name="old_password" class="form-control" id="id_old_password" placeholder="Old Password" required="true">
      <label for="inputEmail">Old Password</label>
    </div>

    <div class="form-floating">
      <input type="password" name="new_password1" class="form-control" id="id_new_password1" placeholder="New Password" required="true">
      <label for="inputEmail">New Password</label>
    </div>

    <div class="form-floating">
      <input type="password" name="new_password2" class="form-control" id="id_new_password2" placeholder="Confirm Password" required="true">
      <label for="inputEmail">Confirm Password</label>
    </div>


	{%for field in account_form%}
		<p>
			{%for err in field.errors%}
			<p style="color: red;">{{err}}</p>
		
			{%endfor%}
		</p>

	{%endfor%}
	

    <button class="w-100 btn btn-lg btn-primary" type="submit">Change password</button>
    
  </form>
</main>


{%endblock content%}